.Loading,
.Error {
  font-size: large;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
}

.Error {
  color: red;
}

.Home {
  padding: 20px;
}

.Grade-Column-Headers {
  background-color: #00cb66;
  color: white;
  text-align: left;
}

.Grade-Table {
  border-radius: 10px;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  width: 100%;
}

.Grade-Table th,
.Grade-Table td.Course {
  padding: 30px 15px;
}

.Grade-Table td.Assignment {
  padding: 12px 15px;
}

.Assignment.Description td {
  padding-left: 50px;
  width: 100%;
}

.Assignment.Description,
.Grade-Table tr {
  border-bottom: 1px solid #dddddd;
}

.Grade-Table tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.Grade-Table tr:last-of-type {
  border-bottom: 5px solid #00cb66;
}

.Assignment.Name,
.Assignment.Grade,
.Assignment.ID
 {
  padding-left: 30px;
}

.Hidden {
  display: none;
}