.Loading,
.Error {
  font-size: large;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
}

.Error {
  color: red;
}

.Home {
  padding-top: 20px;
}

.Course.Grade-Row,
.Assignment.Grade-Row,
.Grade-Column-Headers {
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.Assignment.Name,
.Assignment.Grade,
.Assignment.ID
 {
  padding-left: 30px;
}

.Grade-Column-Headers {
  font-weight: bold;
}

.Hidden {
  display: none;
}